﻿@model IEnumerable<InformationSystem.Data.Models.User>
 
<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="profile" asp-action="profileview" asp-route-email="@user.Email">Перейти в профиль</a>
            </td>
            @if(user.isActive == false)
            {
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="MakeActive" asp-route-userid="@user.Id">Добавить в поиск</a>
                </td>
            }
            else
            {
                <td>
                    <a class="btn btn-sm btn-danger" asp-action="MakeDisactive" asp-route-userid="@user.Id">Убрать из поиска</a>
                </td>
            }
        </tr>
    }
</table>