﻿@{
    ViewData["Title"] = "Наставничество";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Mentors" asp-action="MyMentors">Мои наставники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Mentors" asp-action="MyTrainee">Мои подопечные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Mentors" asp-action="FindMentor">Список пользователей</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>