﻿<h3>Список пользователей</h3>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <form asp-controller="Mentors" asp-action="FindMentor">
                        <label>Фамилия: </label>
                        <input type="text" style="width: 120px;" name="SearchFamily" value="@ViewBag.SearchFamily" />

                        <label>Имя: </label>
                        <input type="text" style="width: 120px;" name="SearchName" value="@ViewBag.SearchName" />

                        <label>Email: </label>
                        <input type="text" style="width: 160px;" name="SearchEmail" value="@ViewBag.SearchEmail" />
                        <button type="submit" style="margin-bottom: 5px; width: 80px;" class="btn btn-sm btn-primary">Поиск</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form asp-controller="Mentors" asp-action="FindMentor">
                        <button style="margin-left: 5px; width: 80px;" type="submit" class="btn btn-sm btn-danger">
                            Очистить
                        </button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>


@{
    if (ViewBag.AllUsers.Count > 0)
    {
        <table class="table">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
            @{
                foreach (var item in ViewBag.AllUsers)
                {
                    <tr>
                        <td style ="width: 20%;">@item.Surname</td>
                        <td style="width: 15%;">@item.Name</td>
                        <td style="width: 20%;">@item.Email</td>
                        <td style="width: 20%;">
                            @if (item.showMentorButton)
                            {
                                <a style="width: 100%;"  class="btn btn-sm btn-primary" asp-action="AddMentor" asp-route-email="@item.Email">Добавить наставника</a>
                            }
                            else
                            {
                                <a style="width: 100%;" class="btn btn-sm btn-danger" asp-action="RemoveMentor" asp-route-email="@item.Email">Удалить наставника</a>
                            }

                        </td>
                        <td style="width: 20%;">
                            @if (item.showTraineeButton)
                            {
                                <a style="width: 100%;"  class="btn btn-sm btn-primary" asp-action="AddTrainee" asp-route-email="@item.Email">Добавить подопечного</a>
                            }   
                            else
                            {
                                <a style="width: 100%;" class="btn btn-sm btn-danger" asp-action="RemoveTrainee" asp-route-email="@item.Email">Удалить подопечного</a>
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    }
}
