﻿
@{
    ViewData["Title"] = "Мои наставнии";
}

@{
    if (ViewBag.notConfirmedFromTrainee.Count > 0)
    {
        <h3>Подтвердить наставника</h3>
        <table class="table">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
            @{
                foreach (var item in ViewBag.notConfirmedFromTrainee)
                {
                    <tr>
                        <td>@item.Surname</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="AddMentor" asp-route-email="@item.Email">Добавить наставника</a>
                        </td>
                    </tr>
                }
             }
        </table>
        <hr>
    }

    if (ViewBag.notConfirmedFromMentor.Count > 0)
    {
        <h3>Ожидаем подтверждения от наставника</h3>
        <table class="table">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
            @{
                foreach (var item in ViewBag.notConfirmedFromMentor)
                {
                    <tr>
                        <td>@item.Surname</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>
                            <a class="btn btn-sm btn-danger" asp-action="RemoveMentor" asp-route-email="@item.Email">Удалить наставника</a>
                        </td>
                    </tr>
                }
            }
        </table>
        <hr>
    }

    if (ViewBag.MyMentors.Count > 0)
    {
        <h3>Мои наставники</h3>

        <table class="table">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
            @{
                foreach (var item in ViewBag.MyMentors)
                {
                    <tr>
                        <td>@item.Surname</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>
                            <a class="btn btn-sm btn-danger" asp-action="RemoveMentor" asp-route-email="@item.Email">Удалить наставника</a>
                        </td>
                    </tr>
                }
            }
        </table>
    }

    if (ViewBag.MyMentors.Count == 0 && ViewBag.notConfirmedFromMentor.Count == 0 && ViewBag.notConfirmedFromTrainee.Count == 0)
    {
        <a class="nav-item nav-link" asp-area="" asp-controller="Mentors" asp-action="FindMentor">Найти наставника</a>
    }
}