@using InformationSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Личный кабинет - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = await UserManager.GetUserAsync(User);
    var userid = 0.ToString();

    if (user != null)
    {
        userid = user.Id;
    }
}

<div class="container">
    <h3>Личный кабинет</h3>
    <div>
        <hr>
        <div class = "row">
            <div class = "col-md-3">
                <ul class="nav nav-pills flex-column">

                    <li class="nav-item"><a class="nav-link" href="/Course/Courses">Мои курсы</a></li>

                    <li class="nav-item"><a class="nav-link" href="/Project">Мои проекты</a></li>

                    <li class="nav-item"><a class="nav-link" href="/Skills/HardSkills">Мои навыки</a></li>
                    
                    <li class="nav-item"><a class="nav-link" href="/QuarterlyDevelopmentPlanLists1/Index">Мои планы</a></li>                    

                    <li class="nav-item"><a class="nav-link" href="/Mentors/MyMentors">Мои наставники</a></li>

                    <li class="nav-item"><a class="nav-link" id="two-factor" href="/Account/EditUser">Редактировать аккаунт</a></li>
                    <li class="nav-item"><a class="nav-link" id="change-password" href="/Account/ChangePassword">Изменить пароль</a></li>

                    <li class="nav-item"><a class="nav-link" href="/Home/UserGuide">Руководство пользователя</a></li>

                    @{
                        if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="AdminPanel" asp-action="Index">Панель управления</a></li>
                        }
                    }
                </ul>
            </div>
            <div class ="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

