﻿
@{
    ViewData["Title"] = "Личный кабинет - Навыки";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Skills" asp-action="HardSkills">Профессиональные навыки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Skills" asp-action="SoftSkills">Личностные качества</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
</header>