﻿@{
    ViewData["Title"] = "Панель управления";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}


@if (User.IsInRole("Admin"))
{
    <div class="container">
        <h3>Панель управления администратора <a class="btn btn-outline-primary" href="https://edu-hse.gitbook.io/rukovodstvo-administratora-sistemy/" target="_blank">  Руководство администратора</a></h3>
        <a class="btn btn-danger" asp-controller="Roles" asp-action="Index">Роли</a>
        <a class="btn btn-danger" asp-controller="Roles" asp-action="UserList">Пользователи</a>        
    </div>
    <hr />
    <div class="container">
            <h3>Панель управления  компетенциями</h3>
            <p>
                <a class="btn btn-primary" asp-controller="CompetencyCategories" asp-action="Index">Категории компетенций</a>
                <a class="btn btn-primary" asp-controller="CompetenceLevels" asp-action="Index">Уровни владения компетенциями</a>
            </p>
            <p>
                <a class="btn btn-primary" asp-controller="HardSkills" asp-action="Index">Профессиональные навыки</a>
                <a class="btn btn-primary" asp-controller="SoftSkills" asp-action="Index">Личностные качества</a>
            </p>
    </div>
    <hr />

    <div class="container">
        <h5>Панель управления  </h5>
        <p>
            <h6>Курсы </h6>
        <p>
            <a class="btn btn-outline-primary" asp-controller="EducationLists" asp-action="Index">Курсы пользователей</a>
            <a class="btn btn-outline-primary" asp-controller="Educations" asp-action="Index">Курсы</a>
        </p>
        <p>
            <a class="btn btn-outline-primary" asp-controller="HardCompetenciesLists" asp-action="Index">Проф навыки курсов</a>
            <a class="btn btn-outline-primary" asp-controller="SoftCompetenciesLists" asp-action="Index">Личн качества курсов</a>
        </p>            
        
        <h6>Навыки </h6>
        <p>
            <a class="btn btn-outline-primary" asp-controller="HardSkills" asp-action="Index">Профессиональные навыки</a>
            <a class="btn btn-outline-primary" asp-controller="SoftSkills" asp-action="Index">Личностные качества</a>
        </p>
        <p>
            <a class="btn btn-outline-primary" asp-controller="HardSkillsLists" asp-action="Index">Профессиональные навыки пользователей</a>
            <a class="btn btn-outline-primary" asp-controller="SoftSkillsLists" asp-action="Index">Личностные качества пользователей</a>
        </p>

        <h6>Проекты </h6>
        <p>
            <a class="btn btn-outline-primary" asp-controller="Projects" asp-action="Index">Проекты</a>
            <a class="btn btn-outline-primary" asp-controller="Tasks" asp-action="Index">Задачи проектов</a>
            <a class="btn btn-outline-primary" asp-controller="ProjectLists" asp-action="Index">Проекты пользователей</a>
        </p>
        <p>
            <a class="btn btn-outline-primary" asp-controller="Technologies" asp-action="Index">Технологии</a>
            <a class="btn btn-outline-primary" asp-controller="TechnologiesLists" asp-action="Index">Технологии пользователей</a>
        </p>
    </div>
    <hr />

}