﻿@model IEnumerable<InformationSystem.Data.Models.SkillsAndEducation.EducationList>

@{
    ViewData["Title"] = "Courses";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Мои курсы</h1>

<p>
    <a asp-action="AddCourse">Добавить новый курс</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.education.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassageDateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassageDateFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.education.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassageDateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassageDateFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EducationListId">Редактировать</a> |
                    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.EducationListId">
                        Удалить
                    </a>
            </td>
        </tr>

            <!-- Модальное окно -->
            <div class="modal fade" id="exampleModal_@item.EducationListId" tabindex="-1" aria-labelledby="exampleModalLabel_@item.EducationListId" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel_@item.EducationListId">Подтверждение дейстия</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            Подтвердите удаление участия в курсе "@item.education.CourseName"
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a type="button" class="btn btn-danger"
                           asp-action="Delete" asp-route-id="@item.EducationListId">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
}
    </tbody>
</table>
