﻿@*@model InformationSystem.Data.Models.SkillsAndEducation.Education*@

@model InformationSystem.ViewModels.Skills.CreateCourseViewModel
@{
    ViewData["Title"] = "CreateNewCourse";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Создать новый курс</h1>
<hr />

<form asp-action="CreateNewCourse">
    <div class="row">
        <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="education.CourseName" class="control-label"></label>
                    <input asp-for="education.CourseName" class="form-control" onChange="myfunction()" id="courseName" />
                    <span asp-validation-for="education.CourseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                <input asp-for="education.EducationId" class="form-control" type="hidden" value="@Model.education.EducationId" id="courseId" />
                    <span asp-validation-for="education.EducationId" class="text-danger"></span>
                </div>


                <div>
                <a asp-action="AddHardCompetenceToCourse" asp-route-course="@Model.education.EducationId">Добавить навык</a>
                </div>
        </div>
    </div>
                <table id = "HardSkillsListTable" class="table" >
                    <thead>
                        <tr>
                            <td>
                                Навык
                            </td>
                            <td>
                                Уровень компетенции
                            </td>
                            <td>
                                Описание
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.hardCompetenciesList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HardSkills.CompetencyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompetenceLevel.Level)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HardSkills.CompetencyDescription)
                                </td>                            
                                <td>
                                    <a asp-action="RemoveHardCompetenceFromCourse" asp-route-id="@item.HardCompetenciesListId" asp-route-course="@Model.education.EducationId">Удалить</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

    <div>
        <a asp-action="AddSoftSkillToCourse" asp-route-course="@Model.education.EducationId">Добавить личностное качество</a>
    </div>

    <table id="SoftSkillsListTable" class="table">
        <thead>
            <tr>
                <td>
                    Навык
                </td>
                <td>
                    Уровень компетенции
                </td>
                <td>
                    Описание
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.softCompetenciesList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoftSkills.CompetencyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompetenceLevel.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoftSkills.CompetencyDescriprion)
                    </td>
                    <td>
                        <a asp-action="RemoveSoftSkillFromCourse" asp-route-id="@item.SoftCompetenciesListId" asp-route-course="@Model.education.EducationId">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Создать новый курс" class="btn btn-primary" />
                </div>       
            </div>
    </div>
</form>
<div>
    <a asp-action="AddCourse">Назад</a>
</div>



<script>
    function myfunction() {

        var a = parseInt(document.getElementById("courseId").value);
        var b = document.getElementById("courseName").value;

        var Model = {
            id: a,
            name: b,
        };

        $.ajax({
            url: '@Url.Action("ChangeName","Course")',
            type: 'POST',
            data: Model,
        });
    }
</script>