﻿@model InformationSystem.Data.Models.SkillsAndEducation.EducationList

@{
    ViewData["Title"] = "Редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактировать</h1>

<h4>Курс</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EducationListId" />
            <input asp-for="EmployeeId" class="form-control" type="hidden"/>
            <input asp-for="EducationId" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="EducationId" class="control-label"></label>
                <select asp-for="EducationId" class="form-control" asp-items="ViewBag.EducationId" disabled></select>
                <span asp-validation-for="EducationId" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="PassageDateStart" class="control-label"></label>
                <input asp-for="PassageDateStart" class="form-control" />
                <span asp-validation-for="PassageDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassageDateFinish" class="control-label"></label>
                <input asp-for="PassageDateFinish" class="form-control" />
                <span asp-validation-for="PassageDateFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate" class="control-label"></label>
                <input asp-for="Certificate" class="form-control" />
                <span asp-validation-for="Certificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Courses">Назад</a>
</div>

