﻿@model IEnumerable<InformationSystem.Data.Models.SkillsAndEducation.EducationList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassageDateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassageDateFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.education.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassageDateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassageDateFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EducationListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EducationListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EducationListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
