﻿@model InformationSystem.Data.Models.QuarterlyPlans.QuarterlyDevelopmentPlanList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>QuarterlyDevelopmentPlanList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlansId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlansId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuarterlyDevelopmentPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuarterlyDevelopmentPlan.PlanId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Назад</a>
</div>
