﻿@model InformationSystem.Data.Models.QuarterlyPlans.QuarterlyDevelopmentPlanList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Редактирование</h1>

<h4>Список квартальных планов</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlansId" class="control-label"></label>
                <input asp-for="PlansId" class="form-control" />
                <span asp-validation-for="PlansId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="QuarterlyDevelopmentPlanId" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

