﻿@model InformationSystem.Data.Models.SkillsAndEducation.Education

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Create</h1>

<h4>Education</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HardCompetenciesListId" class="control-label"></label>
                <input asp-for="HardCompetenciesListId" class="form-control" />
                <span asp-validation-for="HardCompetenciesListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoftCompetenciesListId" class="control-label"></label>
                <input asp-for="SoftCompetenciesListId" class="form-control" />
                <span asp-validation-for="SoftCompetenciesListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

