﻿@model InformationSystem.Data.Models.SkillsAndEducation.Education

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Education</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HardCompetenciesListId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HardCompetenciesListId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftCompetenciesListId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftCompetenciesListId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EducationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
