﻿@model InformationSystem.Data.Models.SkillsAndEducation.SoftSkillsList

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Create</h1>

<h4>SoftSkillsList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoftSkillsId" class="control-label"></label>
                <select asp-for="SoftSkillsId" class ="form-control" asp-items="ViewBag.SoftSkillsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompetenceLevelId" class="control-label"></label>
                <select asp-for="CompetenceLevelId" class ="form-control" asp-items="ViewBag.CompetenceLevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DesireToDevelop" class="control-label"></label>
                <input asp-for="DesireToDevelop" class="form-control" />
                <span asp-validation-for="DesireToDevelop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

