﻿@model InformationSystem.Data.Models.SkillsAndEducation.SoftSkillsList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SoftSkillsList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftSkills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftSkills.CompetencyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencеLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencеLevel.CompetenceLevelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesireToDevelop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesireToDevelop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SoftSkillsListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
