﻿@model InformationSystem.Data.Models.Project.ProjectList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Edit</h1>

<h4>ProjectList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectsListId" />
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectsId" class="control-label"></label>
                <select asp-for="ProjectsId" class="form-control" asp-items="ViewBag.ProjectsId"></select>
                <span asp-validation-for="ProjectsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnologiesListId" class="control-label"></label>
                <input asp-for="TechnologiesListId" class="form-control" />
                <span asp-validation-for="TechnologiesListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

