﻿@model InformationSystem.ViewModels.Identity.ChangePasswordViewModel

@{
    ViewBag.Title = "Изменение пароля";

    Layout = "~/Views/Shared/lkLoyout.cshtml";
}


<h2>Изменение пароля для пользователя @Model.Email</h2>
<div class="col-md-6">
    <section>
        <form asp-action="ChangePassword" asp-controller="Account">
            <div asp-validation-summary="All" class="text-danger"></div>
 
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <div class="form-floating">
                <input type="password" asp-for="OldPassword" class="form-control" aria-required="true" />
                <label asp-for="OldPassword" class="form-label">Старый пароль</label>
            </div>
            <div class="form-floating">
                <input type="password" asp-for="NewPassword" class="form-control" aria-required="true"/>
                <label asp-for="NewPassword" class="form-label">Новый пароль</label>                
            </div>
            <div class="form-floating">
                <p>
                <input type="submit" value="Сохранить" class="w-100 btn btn-lg btn-primary" />
                </p>
            </div>
        </form>
    </section>
</div>