﻿@model InformationSystem.ViewModels.Identity.EditUserViewModel

@{
    ViewBag.Title = "Редактирование пользователя";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

    <div class="col-md-6">
        <section>
            <form asp-action="EditUser" asp-controller="Account">
                <div asp-validation-summary="All" class="text-danger"></div>
                
                    <input type="hidden" asp-for="Id" value ="fssffsf" />
                    <input type="hidden" asp-for="Email" value="fssffsf" />
                
                <div class="form-floating">
                    <input type="Phone" asp-for="Surname" class="form-control" />
                    <label asp-for="Surname" class="form-label">Фамилия</label>
        
                </div>
                <div class="form-floating">
                    <input type="text" asp-for="Name" class="form-control" />
                    <label asp-for="Name" class="form-label">Имя</label>
        
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="w-100 btn btn-lg btn-primary" />
                </div>
            </form>
    </section>
</div>  