﻿@model InformationSystem.ViewModels.Identity.LoginTwoStep
<h1>Авторизация</h1>
<hr />
<p> Введите авторазационный код в поле ниже</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginTwoStep" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TwoFactorCode" class="control-label"></label>
                <input asp-for="TwoFactorCode" class="form-control" />
                <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
            </div>
            <input asp-for="RememberMe" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}