﻿@model InformationSystem.ViewModels.Identity.LoginViewModel


    <div class="col-md-5">
        <section>
            <form method="post" asp-controller="Account" asp-action="Login"
                asp-route-returnUrl="@Model.ReturnUrl">
                <h2>Вход в приложение</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating" style=" margin:2px">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" /> 
                    <label asp-for="Email" class="form-label"></label>                                       
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            <div class="form-floating" style=" margin:2px">
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />         
                    <label asp-for="Password" class="form-label"></label>                               
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            <div style=" margin:2px">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    
                </div>
                <div>
                    <p>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
                    </p>

                </div>
                <div>
                </div>
            </form>
            
            <a class="w-100 btn btn-lg btn-primary" style=" margin:2px" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
            
        </section>
        </div>  

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}