﻿@model InformationSystem.ViewModels.Identity.RegisterViewModel

<h2>Регистрация нового пользователя</h2>

   <div class="col-md-5">
        <section>
            <form method="post" asp-controller="Account" asp-action="Register">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating" style=" margin:2px">
                    <input asp-for="Email" class="form-control" />
                    <label asp-for="Email" ></label>                    
                    <span asp-validation-for="Email"></span>
                </div >
                <div class="form-floating" style=" margin:2px">
                    <input asp-for="Surname" class="form-control" />
                    <label asp-for="Surname"></label>                    
                    <span asp-validation-for="Surname"></span>
                </div>
                <div class="form-floating" style=" margin:2px">
                    <input asp-for="Name" class="form-control" />
                    <label asp-for="Name"></label>                   
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-floating" style=" margin:2px">
                    <input asp-for="Password" class="form-control" />
                    <label asp-for="Password"></label>                  
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-floating" style=" margin:2px">
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <label asp-for="PasswordConfirm"></label>                    
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
                <div>
                <input type="submit" class="w-100 btn btn-lg btn-primary" style=" margin:2px" value="Зарегистрироваться" />
                </div>
            </form>
        </section>
   </div>