﻿@model InformationSystem.Data.Models.SkillsAndEducation.HardSkills

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HardSkills</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencyCategories.CompetencyCategoriesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencyDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HardSkillsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
