﻿@model InformationSystem.Data.Models.SkillsAndEducation.HardSkills

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Edit</h1>

<h4>HardSkills</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HardSkillsId" />
            <div class="form-group">
                <label asp-for="CompetencyCategoriesId" class="control-label"></label>
                <select asp-for="CompetencyCategoriesId" class="form-control" asp-items="ViewBag.CompetencyCategoriesId"></select>
                <span asp-validation-for="CompetencyCategoriesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetencyName" class="control-label"></label>
                <input asp-for="CompetencyName" class="form-control" />
                <span asp-validation-for="CompetencyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetencyDescription" class="control-label"></label>
                <input asp-for="CompetencyDescription" class="form-control" />
                <span asp-validation-for="CompetencyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

