﻿@model IEnumerable<InformationSystem.Data.Models.SkillsAndEducation.HardSkills>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompetencyCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetencyDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompetencyCategories.CompetencyCategoriesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetencyDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HardSkillsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HardSkillsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HardSkillsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
