﻿@model InformationSystem.Data.Models.SkillsAndEducation.HardCompetenciesList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Edit</h1>

<h4>HardCompetenciesList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HardCompetenciesListId" />
            <div class="form-group">
                <label asp-for="EducationId" class="control-label"></label>
                <input asp-for="EducationId" class="form-control" />
                <span asp-validation-for="EducationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HardSkillsId" class="control-label"></label>
                <select asp-for="HardSkillsId" class="form-control" asp-items="ViewBag.HardSkillsId"></select>
                <span asp-validation-for="HardSkillsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenceLevelId" class="control-label"></label>
                <select asp-for="CompetenceLevelId" class="form-control" asp-items="ViewBag.CompetenceLevelId"></select>
                <span asp-validation-for="CompetenceLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

