﻿@{
    ViewData["Title"] = "Руководство пользователя";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Руководство пользователя</h1>
    Наша система для введения информации о сотрудниках предназначена для удобного и эффективного управления информацией о сотрудниках компании.
    <br />В руководстве пользователя вы найдете подробные инструкции и советы по работе с системой.
    <p></p>
    <p><a class="btn btn-secondary" href="https://edu-hse.gitbook.io/users_guide/moduli/registraciya" target="_blank">Руководство пользователя</a></p>
</div>


