﻿@model InformationSystem.Data.Models.Project.TechnologiesList

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TechnologiesList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projectList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projectList.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.technologies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.technologies.TechnologiesName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TechnologiesListId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
