﻿@model InformationSystem.Data.Models.SkillsAndEducation.HardSkillsList

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HardSkillsList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hardSkill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hardSkill.CompetencyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencеLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencеLevel.CompetenceLevelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttitudeToCompetence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttitudeToCompetence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesireToDevelop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesireToDevelop)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HardSkillListId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
