﻿@model InformationSystem.Data.Models.SkillsAndEducation.HardSkillsList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HardSkillsList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hardSkill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hardSkill.CompetencyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencеLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencеLevel.CompetenceLevelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttitudeToCompetence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttitudeToCompetence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesireToDevelop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesireToDevelop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HardSkillListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
