﻿@model IEnumerable<InformationSystem.Data.Models.SkillsAndEducation.HardSkillsList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hardSkill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetencеLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttitudeToCompetence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesireToDevelop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hardSkill.CompetencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetencеLevel.CompetenceLevelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttitudeToCompetence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesireToDevelop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HardSkillListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HardSkillListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HardSkillListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
