﻿@model InformationSystem.Data.Models.QuarterlyPlans.QuarterlyDevelopmentPlan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Квартальный план</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quarter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quarter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objective)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objective)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AchievementCriteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AchievementCriteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BenefitsForEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BenefitsForEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BenefitsForCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BenefitsForCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discuss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discuss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscussDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscussDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlanId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
