﻿@model InformationSystem.Data.Models.QuarterlyPlans.QuarterlyDevelopmentPlan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Изменить</h1>

<h4>Квартальный план</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlanId" />
            <div class="form-group">
                <label asp-for="Quarter" class="control-label"></label>
                <input asp-for="Quarter" class="form-control" />
                <span asp-validation-for="Quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objective" class="control-label"></label>
                <input asp-for="Objective" class="form-control" />
                <span asp-validation-for="Objective" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AchievementCriteria" class="control-label"></label>
                <input asp-for="AchievementCriteria" class="form-control" />
                <span asp-validation-for="AchievementCriteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitsForEmployee" class="control-label"></label>
                <input asp-for="BenefitsForEmployee" class="form-control" />
                <span asp-validation-for="BenefitsForEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitsForCompany" class="control-label"></label>
                <input asp-for="BenefitsForCompany" class="form-control" />
                <span asp-validation-for="BenefitsForCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discuss" class="control-label"></label>
                <input asp-for="Discuss" class="form-control" />
                <span asp-validation-for="Discuss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscussDate" class="control-label"></label>
                <input asp-for="DiscussDate" class="form-control" />
                <span asp-validation-for="DiscussDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

