﻿@model IEnumerable<InformationSystem.Data.Models.QuarterlyPlans.QuarterlyDevelopmentPlan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Список квартальных планов</h1>

<p>
    <a asp-action="Create">Создать план</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quarter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AchievementCriteria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenefitsForEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenefitsForCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discuss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscussDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quarter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AchievementCriteria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BenefitsForEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BenefitsForCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discuss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscussDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.PlanId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
