﻿@model InformationSystem.Data.Models.QuarterlyPlans.PlanParts

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Создание</h1>

<h4>Подпланы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityDirection" class="control-label"></label>
                <input asp-for="ActivityDirection" class="form-control" />
                <span asp-validation-for="ActivityDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurableResult" class="control-label"></label>
                <input asp-for="MeasurableResult" class="form-control" />
                <span asp-validation-for="MeasurableResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingInHours" class="control-label"></label>
                <input asp-for="RatingInHours" class="form-control" />
                <span asp-validation-for="RatingInHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentProgress" class="control-label"></label>
                <input asp-for="CurrentProgress" class="form-control" />
                <span asp-validation-for="CurrentProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

