﻿@model InformationSystem.Data.Models.QuarterlyPlans.PlanParts

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlanParts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurableResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurableResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingInHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingInHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentProgress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentProgress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlanPartsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
