﻿@model InformationSystem.Data.Models.QuarterlyPlans.PlanParts

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PlanParts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurableResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurableResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingInHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingInHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentProgress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentProgress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlanPartsId">Edit</a> |
    <a asp-action="Index">Назад</a>
</div>
