﻿@model IEnumerable<InformationSystem.Data.Models.QuarterlyPlans.PlanParts>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Список подпланов</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasurableResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingInHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentProgress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurableResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingInHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentProgress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanPartsId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.PlanPartsId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanPartsId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
