﻿@model InformationSystem.Data.Models.SkillsAndEducation.SoftCompetenciesList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SoftCompetenciesList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftSkills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftSkills.CompetencyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetenceLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetenceLevel.CompetenceLevelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SoftCompetenciesListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
