﻿@model IEnumerable<InformationSystem.Data.Models.SkillsAndEducation.SoftCompetenciesList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetenceLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftSkills.CompetencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenceLevel.CompetenceLevelId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SoftCompetenciesListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SoftCompetenciesListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SoftCompetenciesListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
