﻿@model InformationSystem.Data.Models.QuarterlyPlans.PlanPartsList

<h4>Список подпланов</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPlanPart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="PlanId" class="form-control" type="hidden" value="@ViewBag.PlanId" />
                <span asp-validation-for="PlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanPartsId" class="control-label"></label>
                <select asp-for="PlanPartsId" class="form-control" asp-items="ViewBag.PlanPartsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" asp-route-quarterlyPlan="@ViewBag.PlanId" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label"></label>
            <!-- Кнопка-триггер модального окна -->
            <button type="button" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Создать новый план
            </button>
        </div>
    </div>
</div>

<div>
    <a asp-action="CreateNewQuarterlyPlan" asp-route-id="@ViewBag.PlanId">Назад</a>
</div>


@{
    await Html.RenderPartialAsync("CreateNewPlan");
}
