﻿@model InformationSystem.Data.Models.QuarterlyPlans.PlanParts
<form asp-action="CreateNewPlan">
    <!-- Модальное окно -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создать план</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserId" id="UserId" />
                        <div class="form-group">
                            <label asp-for="ActivityDirection" class="control-label"></label>
                            <input asp-for="ActivityDirection" class="form-control" required />
                            <span asp-validation-for="ActivityDirection" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MeasurableResult" class="control-label"></label>
                            <input asp-for="MeasurableResult" class="form-control" required />
                            <span asp-validation-for="MeasurableResult" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Deadline" class="control-label"></label>
                            <input asp-for="Deadline" class="form-control" required />
                            <span asp-validation-for="Deadline" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RatingInHours" class="control-label"></label>
                            <input asp-for="RatingInHours" class="form-control" required />
                            <span asp-validation-for="RatingInHours" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CurrentProgress" class="control-label"></label>
                            <input asp-for="CurrentProgress" class="form-control" required />
                            <span asp-validation-for="CurrentProgress" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <input name="Plan" value="@ViewBag.PlanId" type="hidden" />
                <input name="UserId" value="@ViewBag.UserId" type="hidden" />

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Создать план</button>
                </div>
            </div>
        </div>
    </div>
</form>