﻿@model InformationSystem.ViewModels.QuarterlyPlans.PlansViewModel


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Создание плана</h1>

<h4>Квартальный план</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewQuarterlyPlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="quarterlyDevelopmentPlan.PlanId" id="PlanId" />
            <input type="hidden" asp-for="quarterlyDevelopmentPlan.UserId" id="UserId" />
            <input type="hidden" asp-for="quarterlyDevelopmentPlanList.EmployeeId" />
            <input type="hidden" asp-for="quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlanId" />

            @if (ViewBag.Edit == true)
            {
                <input type="hidden" id="edit" name="parameterEdit" value=true />
            }
            else
            {
                <input type="hidden" id="edit" name="parameterEdit" value=false />
            }

            <div class="form-group">
                <label asp-for="quarterlyDevelopmentPlan.Quarter" class="control-label"></label>
                <input asp-for="quarterlyDevelopmentPlan.Quarter" class="form-control" id="Quarter" onChange="myfunction()" />
                <span asp-validation-for="quarterlyDevelopmentPlan.Quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quarterlyDevelopmentPlan.Objective" class="control-label"></label>
                <input asp-for="quarterlyDevelopmentPlan.Objective" class="form-control" id="Objective" onChange="myfunction()" />
                <span asp-validation-for="quarterlyDevelopmentPlan.Objective" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quarterlyDevelopmentPlan.AchievementCriteria" class="control-label"></label>
                <input asp-for="quarterlyDevelopmentPlan.AchievementCriteria" class="form-control" id="AchievementCriteria" onChange="myfunction()" />
                <span asp-validation-for="quarterlyDevelopmentPlan.AchievementCriteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quarterlyDevelopmentPlan.BenefitsForEmployee" class="control-label"></label>
                <input asp-for="quarterlyDevelopmentPlan.BenefitsForEmployee" class="form-control" id="BenefitsForEmployee" onChange="myfunction()" />
                <span asp-validation-for="quarterlyDevelopmentPlan.BenefitsForEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quarterlyDevelopmentPlan.BenefitsForCompany" class="control-label"></label>
                <input asp-for="quarterlyDevelopmentPlan.BenefitsForCompany" class="form-control" id="BenefitsForCompany" onChange="myfunction()" />
                <span asp-validation-for="quarterlyDevelopmentPlan.BenefitsForCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quarterlyDevelopmentPlan.Discuss" class="control-label"></label>
                <input asp-for="quarterlyDevelopmentPlan.Discuss" class="form-control" id="Discuss" onChange="myfunction()" />
                <span asp-validation-for="quarterlyDevelopmentPlan.Discuss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quarterlyDevelopmentPlan.DiscussDate" class="control-label"></label>
                <input asp-for="quarterlyDevelopmentPlan.DiscussDate" class="form-control" id="DiscussDate" onChange="myfunction()" />
                <span asp-validation-for="quarterlyDevelopmentPlan.DiscussDate" class="text-danger"></span>
            </div>
            <h5>Подпланы</h5>
            <div>
                <a asp-action="AddPlanPart" asp-route-quarterlyPlan="@Model.quarterlyDevelopmentPlan.PlanId">Добавить план</a>
            </div>
            <table id="PlanPartsListTable" class="table">
                <thead>
                    <tr>
                        <td>
                            Подпланы
                        </td>

                        <td>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.planPartsList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlanParts.MeasurableResult)
                            </td>

                            <td>
                                <a asp-action="RemovePlanPart" asp-route-id="@item.PlanPartsListId" asp-route-quarterlyPlan="@Model.quarterlyDevelopmentPlan.PlanId">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

<script>
    function myfunction() {

        var PlanId = parseInt(document.getElementById("PlanId").value);
        var Quarter = document.getElementById("Quarter").value;
        var UserId = document.getElementById("UserId").value;
        var Objective = document.getElementById("Objective").value;
        var AchievementCriteria = document.getElementById("AchievementCriteria").value;
        var BenefitsForEmployee = document.getElementById("BenefitsForEmployee").value;
        var BenefitsForCompany = document.getElementById("BenefitsForCompany").value;
        var Discuss = document.getElementById("Discuss").value;
        var DiscussDate = document.getElementById("DiscussDate").value;

        if (Objective.length != 0 && Quarter.length != 0) 
        {
            var Model = {
                PlanId: PlanId,
                Quarter: Quarter,
                UserId: UserId,
                Objective: Objective,
                AchievementCriteria: AchievementCriteria,
                BenefitsForEmployee: BenefitsForEmployee,
                BenefitsForCompany: BenefitsForCompany,
                Discuss: Discuss,
                DiscussDate: DiscussDate,
            };

            $.ajax({
                url: '@Url.Action("UpdatePlane","QuarterlyDevelopmentPlanLists1")',
                type: 'POST',
                data: Model,
            });
        }        
    }
</script>