﻿@model IEnumerable<InformationSystem.Controllers.QuarterlyPlans.PlanView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Список квартальных планов</h1>

<p>
    <a asp-action="CreateNewQuarterlyPlan">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Quarter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Objective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.AchievementCriteria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.BenefitsForEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.BenefitsForCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Discuss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.DiscussDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Quarter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Objective)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.AchievementCriteria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.BenefitsForEmployee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.BenefitsForCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Discuss)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.DiscussDate)
                </td>
                <td>
                    <a asp-action="CreateNewQuarterlyPlan" asp-route-id="@item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlanId" asp-route-edit="true">Редактировать</a> |
                    <!--<a asp-action="Edit" asp-route-id="@item.quarterlyDevelopmentPlanList.PlansId">Редактировать</a> |
                     <a asp-action="Delete" asp-route-id="@item.quarterlyDevelopmentPlanList.PlansId">Удалить</a>-->
                    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.quarterlyDevelopmentPlanList.PlansId">
                        Удалить
                    </a>
                </td>
            </tr>

            <!-- Модальное окно -->
            <div class="modal fade" id="exampleModal_@item.quarterlyDevelopmentPlanList.PlansId" tabindex="-1" aria-labelledby="exampleModalLabel_@item.quarterlyDevelopmentPlanList.PlansId" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel_@item.quarterlyDevelopmentPlanList.PlansId">Подтверждение дейстия</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            @if (item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan != null)
                            {
                                <p>Подтвердите удаление плана "@item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Objective"</p>
                            }

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a type="button" class="btn btn-danger"
                           asp-action="Delete" asp-route-id="@item.quarterlyDevelopmentPlanList.PlansId">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
