﻿@model InformationSystem.ViewModels.Skills.ProjectListViewModel

@{
    ViewData["Title"] = "AddProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddProject</h1>

<h4>ProjectList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="projectList.ProjectsListId" id="ProjectsListId" />
            <input type="hidden" asp-for="projectList.EmployeeId" />
            @if(ViewBag.Edit == true)
            {                
                <div class="form-group">
                    <label asp-for="projectList.ProjectsId" class="control-label"></label>
                    <select asp-for="projectList.ProjectsId" asp-items="ViewBag.ProjectsId" id="projectid" disabled></select>
                    <span asp-validation-for="projectList.ProjectsId" class="text-danger"></span>
                </div>
                <input type="hidden" id="edit" name="parameterEdit" value=true />
            }
            else
            {
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

                <style>
                    html, body {
                        height: 100%;
                    }

                    body {
                        padding: 0;
                        margin: 0;
                        color: #2c3e51;
                        background: #f5f5f5;
                        font-family: 'Ubuntu', sans-serif;
                    }

                    .container1 {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .main1 {
                        margin: 1rem;
                        max-width: 350px;
                        width: 50%;
                        height: 250px;
                    }

                    @@media(max-width:34em) {
                        .main {
                            min-width: 150px;
                            width: auto;
                        }
                    }

                    select {
                        display: none !important;
                    }

                    .dropdown-select {
                        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
                        background-repeat: repeat-x;
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
                        background-color: #fff;
                        border-radius: 6px;
                        border: solid 1px #eee;
                        box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
                        box-sizing: border-box;
                        cursor: pointer;
                        display: block;
                        float: left;
                        font-size: 16px;
                        font-weight: normal;
                        height: 42px;
                        line-height: 40px;
                        outline: none;
                        padding-left: 18px;
                        padding-right: 30px;
                        position: relative;
                        text-align: left !important;
                        transition: all 0.2s ease-in-out;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        white-space: nowrap;
                        width: auto;
                    }

                        .dropdown-select:focus {
                            background-color: #fff;
                        }

                        .dropdown-select:hover {
                            background-color: #fff;
                        }

                        .dropdown-select:active,
                        .dropdown-select.open {
                            background-color: #fff !important;
                            border-color: #bbb;
                            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
                        }

                        .dropdown-select:after {
                            height: 0;
                            width: 0;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            border-top: 4px solid #777;
                            -webkit-transform: origin(50% 20%);
                            transform: origin(50% 20%);
                            transition: all 0.125s ease-in-out;
                            content: '';
                            display: block;
                            margin-top: -2px;
                            pointer-events: none;
                            position: absolute;
                            right: 10px;
                            top: 50%;
                        }

                        .dropdown-select.open:after {
                            -webkit-transform: rotate(-180deg);
                            transform: rotate(-180deg);
                        }

                        .dropdown-select.open .list {
                            -webkit-transform: scale(1);
                            transform: scale(1);
                            opacity: 1;
                            pointer-events: auto;
                        }

                        .dropdown-select.open .option {
                            cursor: pointer;
                        }

                        .dropdown-select.wide {
                            width: 100%;
                        }

                            .dropdown-select.wide .list {
                                left: 0 !important;
                                right: 0 !important;
                            }

                        .dropdown-select .list {
                            box-sizing: border-box;
                            transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
                            -webkit-transform: scale(0.75);
                            transform: scale(0.75);
                            -webkit-transform-origin: 50% 0;
                            transform-origin: 50% 0;
                            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
                            background-color: #fff;
                            border-radius: 6px;
                            margin-top: 4px;
                            padding: 3px 0;
                            opacity: 0;
                            overflow: hidden;
                            pointer-events: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            z-index: 999;
                            max-height: 250px;
                            overflow: auto;
                            border: 1px solid #ddd;
                        }

                            .dropdown-select .list:hover .option:not(:hover) {
                                background-color: transparent !important;
                            }

                        .dropdown-select .dd-search {
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0.9rem;
                        }

                        .dropdown-select .dd-searchbox {
                            width: 98%;
                            height: 90%;
                            padding: 0.5rem;
                            border: 1px solid #999;
                            border-color: #999;
                            border-radius: 4px;
                            outline: none;
                        }

                            .dropdown-select .dd-searchbox:focus {
                                border-color: #12CBC4;
                            }

                        .dropdown-select .list ul {
                            padding: 0;
                        }

                        .dropdown-select .option {
                            cursor: default;
                            font-weight: 400;
                            line-height: 40px;
                            outline: none;
                            padding-left: 18px;
                            padding-right: 29px;
                            text-align: left;
                            transition: all 0.2s;
                            list-style: none;
                        }

                            .dropdown-select .option:hover,
                            .dropdown-select .option:focus {
                                background-color: #f6f6f6 !important;
                            }

                            .dropdown-select .option.selected {
                                font-weight: 600;
                                color: #12cbc4;
                            }

                                .dropdown-select .option.selected:focus {
                                    background: #f6f6f6;
                                }

                        .dropdown-select a {
                            color: #aaa;
                            text-decoration: none;
                            transition: all 0.2s ease-in-out;
                        }

                            .dropdown-select a:hover {
                                color: #666;
                            }

                </style>

                <script>
                    function create_custom_dropdowns() {
                        $('select').each(function (i, select) {
                            if (!$(this).next().hasClass('dropdown-select')) {
                                $(this).after('<div class="dropdown-select wide ' + ($(this).attr('class') || '') + '" tabindex="0"><span class="current"></span><div class="list"><ul></ul></div></div>');
                                var dropdown = $(this).next();
                                var options = $(select).find('option');
                                var selected = $(this).find('option:selected');
                                dropdown.find('.current').html(selected.data('display-text') || selected.text());
                                options.each(function (j, o) {
                                    var display = $(o).data('display-text') || '';
                                    dropdown.find('ul').append('<li class="option ' + ($(o).is(':selected') ? 'selected' : '') + '" data-value="' + $(o).val() + '" data-display-text="' + display + '">' + $(o).text() + '</li>');
                                });
                            }
                        });

                        $('.dropdown-select ul').before('<div class="dd-search"><input id="txtSearchValue" autocomplete="off" onkeyup="filter()" class="dd-searchbox" type="text"></div>');
                    }

                    // Event listeners

                    // Open/close
                    $(document).on('click', '.dropdown-select', function (event) {
                        if ($(event.target).hasClass('dd-searchbox')) {
                            return;
                        }
                        $('.dropdown-select').not($(this)).removeClass('open');
                        $(this).toggleClass('open');
                        if ($(this).hasClass('open')) {
                            $(this).find('.option').attr('tabindex', 0);
                            $(this).find('.selected').focus();
                        } else {
                            $(this).find('.option').removeAttr('tabindex');
                            $(this).focus();
                        }
                    });

                    // Close when clicking outside
                    $(document).on('click', function (event) {
                        if ($(event.target).closest('.dropdown-select').length === 0) {
                            $('.dropdown-select').removeClass('open');
                            $('.dropdown-select .option').removeAttr('tabindex');
                        }
                        event.stopPropagation();
                    });

                    function filter() {
                        var valThis = $('#txtSearchValue').val();
                        $('.dropdown-select ul > li').each(function () {
                            var text = $(this).text();
                            (text.toLowerCase().indexOf(valThis.toLowerCase()) > -1) ? $(this).show() : $(this).hide();
                        });
                    };
                    // Search

                    // Option click
                    $(document).on('click', '.dropdown-select .option', function (event) {
                        $(this).closest('.list').find('.selected').removeClass('selected');
                        $(this).addClass('selected');
                        var text = $(this).data('display-text') || $(this).text();
                        $(this).closest('.dropdown-select').find('.current').text(text);
                        $(this).closest('.dropdown-select').prev('select').val($(this).data('value')).trigger('change');
                    });

                    // Keyboard events
                    $(document).on('keydown', '.dropdown-select', function (event) {
                        var focused_option = $($(this).find('.list .option:focus')[0] || $(this).find('.list .option.selected')[0]);
                        // Space or Enter
                        //if (event.keyCode == 32 || event.keyCode == 13) {
                        if (event.keyCode == 13) {
                            if ($(this).hasClass('open')) {
                                focused_option.trigger('click');
                            } else {
                                $(this).trigger('click');
                            }
                            return false;
                            // Down
                        } else if (event.keyCode == 40) {
                            if (!$(this).hasClass('open')) {
                                $(this).trigger('click');
                            } else {
                                focused_option.next().focus();
                            }
                            return false;
                            // Up
                        } else if (event.keyCode == 38) {
                            if (!$(this).hasClass('open')) {
                                $(this).trigger('click');
                            } else {
                                var focused_option = $($(this).find('.list .option:focus')[0] || $(this).find('.list .option.selected')[0]);
                                focused_option.prev().focus();
                            }
                            return false;
                            // Esc
                        } else if (event.keyCode == 27) {
                            if ($(this).hasClass('open')) {
                                $(this).trigger('click');
                            }
                            return false;
                        }
                    });

                    $(document).ready(function () {
                        create_custom_dropdowns();
                    });
                </script>
                <div class="form-group">
                    <label asp-for="projectList.ProjectsId" class="control-label"></label>
                    <select asp-for="projectList.ProjectsId" asp-items="ViewBag.ProjectsId" id="projectid"></select>
                    <span asp-validation-for="projectList.ProjectsId" class="text-danger"></span>
                </div>
                <input type="hidden" id="edit" name="parameterEdit" value=false />

            }            
            <div class="col-md-10"><a asp-action="CreateNewProject">Создать новый проект</a></div>
            <div class="form-group">
                <label asp-for="projectList.StartDate" class="control-label"></label>
                <input asp-for="projectList.StartDate" class="form-control" required id="StartDate" />
                <span asp-validation-for="projectList.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectList.EndDate" class="control-label"></label>
                <input asp-for="projectList.EndDate" class="form-control" required id="EndDate" onChange="myfunction()" />
                <span asp-validation-for="projectList.EndDate" class="text-danger"></span>
            </div>
            <h5>Технологии</h5>
            <div>
                <a asp-action="AddTechologyToProject" asp-route-project="@Model.projectList.ProjectsListId">Добавить технологию</a>
            </div>
            <table id="TechnologyListTable" class="table">
                <thead>
                    <tr>
                        <td>
                            Технология
                        </td>

                        <td>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.technologiesLists)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.technologies.TechnologiesName)
                            </td>

                            <td>
                                <a asp-action="RemoveTechnologyFromProject" asp-route-id="@item.TechnologiesListId" asp-route-project="@Model.projectList.ProjectsListId">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>


<script>
    function myfunction() {

        var a = parseInt(document.getElementById("ProjectsListId").value);
        var b = document.getElementById("StartDate").value;
        var c = document.getElementById("EndDate").value;
        var d = document.getElementById("projectid").value;
        var Model = {
            id: a,
            StartDate: b,
            EndDate: c,
            projectid: d,
        };

        $.ajax({
            url: '@Url.Action("ChangeProjectList","Project")',
            type: 'POST',
            data: Model,
        });
    }
</script>