﻿@model InformationSystem.Data.Models.Project.Tasks

<h4>Tasks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTaskToProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="ProjectsId" class="control-label"></label>
                <select asp-for="ProjectsId" class ="form-control" asp-items="ViewBag.ProjectsId"></select>
                <input asp-for="ProjectsId" class="form-control" value="@ViewBag.Project"/>*@

                <input asp-for="ProjectsId" class="form-control" type="hidden" value="@ViewBag.Project" />
                <span asp-validation-for="ProjectsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CreateNewProject" asp-route-id="@ViewBag.Project">Назад</a>
</div>

