﻿@model InformationSystem.Data.Models.Project.Technologies
<form asp-action="CreateNewTechnology">
    <!-- Модальное окно -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создать технологию</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
                    <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="TechnologiesName" class="control-label"></label>
                                    <input asp-for="TechnologiesName" class="form-control" required/>
                                    <span asp-validation-for="TechnologiesName" class="text-danger"></span>
                                </div>    
                    </div>

                </div>
                <input name="Project" value="@ViewBag.ProjectId" type="hidden"/>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Создать технологию</button>
          </div>
        </div>
      </div>
    </div>
</form>