﻿@model InformationSystem.ViewModels.Skills.ProjectViewModel1

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h4>Проект</h4>
<hr />
        <form asp-action="CreateNewProject">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="projects.Id" id ="projectId" />
                    <div class="form-group">
                        <label asp-for="projects.Name" class="control-label"></label>
                        <input asp-for="projects.Name" class="form-control" onChange="myfunction()" id="projectName" />
                        <span asp-validation-for="projects.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="projects.Description" class="control-label"></label>
                        <input asp-for="projects.Description" class="form-control" onChange="myfunction()" id="projectDes" />
                        <span asp-validation-for="projects.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="projects.UserId" class="form-control" type="hidden" value="fss" />
                    </div>
                </div>
            </div>

            <h5>Задачи</h5>
            <div>
                <a asp-action="AddTaskToProject" asp-route-project="@Model.projects.Id">Добавить задачу</a>
            </div>
            <table id="TaskTable" class="table">
                <thead>
                    <tr>
                        <td>
                            Задача
                        </td>

                        <td>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.tasks)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaskName)
                            </td>
                            <td>
                                <a asp-action="RemoveTaskFromProject" asp-route-id="@item.TasksId">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>


<div>
    <a asp-action="AddProject">Назад</a>
</div>


<script>
    function myfunction() {

        var a = parseInt(document.getElementById("projectId").value);
        var b = document.getElementById("projectName").value;
        var c = document.getElementById("projectDes").value;

        var Model = {
            id: a,
            name: b,
            description: c,
        };

        $.ajax({
            url: '@Url.Action("Change","Project")',
            type: 'POST',
            data: Model,
        });
    }
</script>