﻿@model IEnumerable<InformationSystem.Controllers.SkillsAndEducation.ProjectView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Мои проекты</h1>

<p>
    <a asp-action="AddProject">Добавить проект</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.projectList.projects.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectList.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectList.EndDate)
            </th>
            <th>Мои технологии</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.projectList.projects.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectList.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectList.EndDate)
                </td>
                <td>
                    @foreach (var it in item.technologies)
                    {
                        <p>@it.technologies.TechnologiesName</p>
                    }
                </td>
                <td>
                    <a asp-action="AddProject" asp-route-id="@item.projectList.ProjectsListId" asp-route-edit ="true">Редактировать</a> |
                    <!--<a asp-action="DeleteProject" asp-route-id="item.projectList.ProjectsListId">Удалить</a>-->
                    <!-- Кнопка-триггер модального окна -->
                    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.projectList.ProjectsListId">
                        Удалить
                    </a>
                </td>
            </tr>


            <!-- Модальное окно -->
            <div class="modal fade" id="exampleModal_@item.projectList.ProjectsListId" tabindex="-1" aria-labelledby="exampleModalLabel_@item.projectList.ProjectsListId" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel_@item.projectList.ProjectsListId">Подтверждение дейстия</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            @if (item.projectList.projects != null)
                            {
                                <p>Подтвердите удаление участия в проекте "@item.projectList.projects.Name"</p>
                            }
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a type="button" class="btn btn-danger" 
                                asp-action="DeleteProject" asp-route-id="@item.projectList.ProjectsListId">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </tbody>
</table>



