﻿@model InformationSystem.Data.Models.Project.Tasks

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Create</h1>

<h4>Tasks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectsId" class="control-label"></label>
                <select asp-for="ProjectsId" class ="form-control" asp-items="ViewBag.ProjectsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

