﻿@model InformationSystem.Data.Models.QuarterlyPlans.PlanPartsList

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Создание</h1>

<h4>Подпланы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlanPartsId" class="control-label"></label>
                <select asp-for="PlanPartsId" class="form-control" asp-items="ViewBag.ActivityDirection"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlanId" class="control-label"></label>
                <select asp-for="PlanId" class ="form-control" asp-items="ViewBag.Objective"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернутья к списку</a>
</div>

