﻿@model InformationSystem.Data.Models.QuarterlyPlans.PlanPartsList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Edit</h1>

<h4>PlanPartsList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlanPartsListId" class="control-label"></label>
                <input asp-for="PlanPartsListId" class="form-control" />
                <span asp-validation-for="PlanPartsListId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PlanPartsId" />
            <input type="hidden" asp-for="PlanId" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

