﻿@model IEnumerable<InformationSystem.Data.Models.QuarterlyPlans.PlanPartsList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/lkLoyout.cshtml";
}

<h1>Список подпланов</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanPartsListId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanParts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuarterlyDevelopmentPlan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanPartsListId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanParts.PlanPartsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanId)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Подробно", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Удалить", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
