﻿@using InformationSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Карточка сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.sticky {
    position: sticky;
    top: 0;
        }
</style>

<div class="container">
    <h3>Карточка сотрудника</h3>
    <div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                    <section class="sticky">
                        <ul class="nav nav-pills flex-column">                    
                            <li class="nav-item"><a class="nav-link" href="#courses">Курсы @ViewBag.CourseCount</a></li>

                            <li class="nav-item"><a class="nav-link" href="#projects">Проекты @ViewBag.ProjectCount</a></li>

                            <li class="nav-item"><a class="nav-link" href="#skills">Навыки @ViewBag.SkillsCount</a></li>

                            <li class="nav-item"><a class="nav-link" href="#mentors">Наставники @ViewBag.MentorsCount</a></li>

                            <li class="nav-item"><a class="nav-link" href="#trainees">Подопечные @ViewBag.TraineeCount</a></li>

                            <li class="nav-item"><a class="nav-link" href="#plans">Планы @ViewBag.PlanCount</a></li>

                            <li class="nav-item"><a class="nav-link" href="#AccessUsers">Доступ к профилю @ViewBag.AccessUsers.Count</a></li>

                            <li class="nav-item"><a class="nav-link" href="#history">История изменений</a></li>
                    
                        </ul>
                    </section>
                </div>          
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


