﻿@model IEnumerable<InformationSystem.Data.Models.SkillsAndEducation.HardCompetenciesList>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetenceLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardSkills.CompetencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenceLevel.CompetenceLevelId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HardCompetenciesListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HardCompetenciesListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HardCompetenciesListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
