﻿@{
    ViewData["Title"] = "Карточка сотрудника";
    Layout = "~/Views/Profile/_Layout.cshtml";
}

<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>

<div class="row">
    <div class="col-md-3">
        <img class="img" width="200" height="200" asp-append-version="true" src="@("~/images/default.jpg")">
    </div>
    <div style="margin-left:0px;" class="col-md-6">
        @*<div class="form-group" margin-left="0px">
        <h6 class="control-label">Фамилия:<strong> @ViewBag.UserSurname</strong></h6> <br />
        <h6 class="control-label">&ensp;&ensp;&ensp;&ensp;&ensp;Имя:<strong> @ViewBag.UserName</strong></h6> <br />
        <h6 class="control-label">&ensp;&ensp;&ensp;&ensp;Email: <strong>@ViewBag.Email</strong></h6><br />
        </div>*@
        <table>
            <tr style="margin-top:10px;">
                <td align="right"><h5>Фамилия:</h5></td>
                <td align="left"><h5><strong>&ensp;@ViewBag.UserSurname</strong></h5></td>
            </tr>
            <tr>
                <td align="right"><h5>Имя:</h5></td>
                <td align="left"><h5><strong>&ensp;@ViewBag.UserName</strong></h5></td>
            </tr>
            <tr>
                <td align="right"><h5>Email:</h5></td>
                <td align="left"><h5><strong>&ensp;@ViewBag.Email</strong></h5></td>
            </tr>
        </table>
    </div>
</div>


<div class="row">
    @{
        @*курсы*@
        <p><a name="courses"></a></p>
        if (ViewBag.CourseCount > 0)
        {
            <section id="courses">
                <h5>Курсы</h5>
                <div class="accordion accordion-flush" id="course-accordionFlushExample">
                    @{
                        var count = 0;
                    }
                    @foreach (var item in ViewBag.Courses)
                    {
                        count = count + 1;

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading_@count">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#course-flush-collapse_@count" aria-expanded="false" aria-controls="flush-collapse_@count">
                                    @item.education.CourseName
                                </button>
                            </h2>
                            <div id="course-flush-collapse_@count" class="accordion-collapse collapse" aria-labelledby="flush-heading_@count" data-bs-parent="#course-accordionFlushExample">
                                <div class="accordion-body">
                                    <p><strong>Дата начала: &emsp;&emsp;</strong>@item.educationList.PassageDateStart</p>
                                    <p><strong>Дата окончания: </strong>@item.educationList.PassageDateFinish</p>
                                    @if (item.educationList.Certificate != null)
                                    {
                                        <p><strong>Сертификат: </strong>@item.educationList.Certificate</p>
                                    }
                                    @if (item.educationList.Comment != null)
                                    {
                                        <p><strong>Комментарий: </strong>@item.educationList.Comment</p>
                                    }
                                    @if (item.hardCompetenciesList.Count > 0)
                                    {
                                        <p><strong>Професиональные навыки:</strong></p>
                                        <table id="HardSkillsListTable" class="table">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        Навык
                                                    </td>
                                                    <td>
                                                        Уровень компетенции
                                                    </td>
                                                    <td>
                                                        Описание
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var it in item.hardCompetenciesList)
                                                {
                                                    <tr>
                                                        <td>
                                                            @it.HardSkills.CompetencyName
                                                        </td>
                                                        <td>
                                                            @it.CompetenceLevel.Level
                                                        </td>
                                                        <td>
                                                            @it.HardSkills.CompetencyDescription
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    @if (item.softCompetenciesList.Count > 0)
                                    {
                                        <p><strong>Личностные качества:</strong></p>
                                        <table id="softCompetenciesListTable" class="table">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        Навык
                                                    </td>
                                                    <td>
                                                        Уровень компетенции
                                                    </td>
                                                    <td>
                                                        Описание
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var it in item.softCompetenciesList)
                                                {
                                                    <tr>
                                                        <td>
                                                            @it.SoftSkills.CompetencyName
                                                        </td>
                                                        <td>
                                                            @it.CompetenceLevel.Level
                                                        </td>
                                                        <td>
                                                            @it.SoftSkills.CompetencyDescriprion
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        }
        else
        {
            <section id="courses">
                <h5>Курсы</h5>
                <p>На данный момент пользователь не добавил информацию о пройденных курсах</p>
            </section>
        }
    }


    @{
        @*Проект*@
        <p><a name="projects"></a></p>
        if (ViewBag.Projects.Count > 0)
        {
            <section id="projects">
                <h5>Проекты</h5>
                <div class="accordion accordion-flush" id="project-accordionFlushExample">
                    @{
                        var count = 0;
                    }
                    @foreach (var item in ViewBag.Projects)
                    {
                        count = count + 1;

                        if (item.projectList.projects != null)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="project-flush-heading_@count">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#project-flush-collapse_@count" aria-expanded="false" aria-controls="flush-collapse_@count">
                                        @item.projectList.projects.Name
                                    </button>
                                </h2>
                                <div id="project-flush-collapse_@count" class="accordion-collapse collapse" aria-labelledby="flush-heading_@count" data-bs-parent="#project-accordionFlushExample">
                                    <div class="accordion-body">
                                        <p><strong>Описание проекта: </strong> @item.projectList.projects.Description</p>
                                        <p><strong>Руководитель проекта: </strong> @item.projectList.projects.User.Name @item.projectList.projects.User.Surname </p>
                                        <p><strong>Email руководителя: </strong> @item.projectList.projects.User.Email</p>
                                        <p><strong>Дата начала: </strong> @item.projectList.StartDate</p>
                                        <p><strong>Дата окончания: </strong> @item.projectList.EndDate</p>
                                        @if (item.projectList.technologiesLists.Count > 0)
                                        {
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <p><strong>Используемые сотрудником технологии:</strong></p>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>

                                                                </th>
                                                                <th>
                                                                    Технология
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                int counter = 0;
                                                            }
                                                            @foreach (var it in item.projectList.technologiesLists)
                                                            {
                                                                counter = counter + 1;
                                                                <tr>
                                                                    <td>@counter.</td>
                                                                    <td>@it.technologies.TechnologiesName</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                        @if (item.tasks.Count > 0)
                                        {
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <p><strong>Задачи проекта:</strong></p>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>

                                                                </th>
                                                                <th>
                                                                    Задача
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                int counter = 0;
                                                            }
                                                            @foreach (var it in item.tasks)
                                                            {
                                                                counter = counter + 1;
                                                                <tr>
                                                                    <td>@counter.</td>
                                                                    <td>@it.TaskName</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        }
        else
        {
            <section id="projects">
                <h5>Проекты</h5>
                <p>На данный момент пользователь не добавил информацию об участии в проектах</p>
            </section>
        }
    }

    @{
        @*Навыки*@
        <p><a name="skills"></a></p>

        @*hard skills*@
        if (ViewBag.HardSkills.Count > 0)
        {
            <section id="hardSkill">
                <h5>Профессиональные навыки</h5>
                <div class="accordion accordion-flush" id="hardSkill-accordionFlushExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="hardSkill-flush-heading_count">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hardSkill-flush-collapse_count" aria-expanded="false" aria-controls="flush-collapse_count">
                                Профессиональные навыки
                            </button>
                        </h2>
                        <div id="hardSkill-flush-collapse_count" class="accordion-collapse collapse" aria-labelledby="flush-heading_count" data-bs-parent="#hardSkill-accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Категирия навыка
                                            </th>
                                            <th>
                                                Навык
                                            </th>
                                            <th>
                                                Описание
                                            </th>
                                            <th>
                                                Уровень компетенции
                                            </th>
                                            <th>

                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var it in ViewBag.HardSkills)
                                        {
                                            <tr>
                                                <td>
                                                    @it.hardSkill.CompetencyCategories.CompetencyCategory
                                                </td>
                                                <td>
                                                    @it.hardSkill.CompetencyName
                                                </td>
                                                <td>
                                                    @it.hardSkill.CompetencyDescription
                                                </td>
                                                <td>
                                                    @it.CompetencеLevel.Level
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }

        @*soft skills*@
        if (ViewBag.SoftSkills.Count > 0)
        {
            <section id="softSkills">

                <div class="accordion accordion-flush" id="softSkills-accordionFlushExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="softSkills-flush-heading_count">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#softSkills-flush-collapse_count" aria-expanded="false" aria-controls="flush-collapse_count">
                                Личностные качества
                            </button>
                        </h2>
                        <div id="softSkills-flush-collapse_count" class="accordion-collapse collapse" aria-labelledby="flush-heading_count" data-bs-parent="#softSkills-accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Качество
                                            </th>
                                            <th>
                                                Описание
                                            </th>
                                            <th>
                                                Уровень компетенции
                                            </th>
                                            <th>

                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var it in ViewBag.SoftSkills)
                                        {
                                            <tr>
                                                <td>
                                                    @it.SoftSkills.CompetencyName
                                                </td>
                                                <td>
                                                    @it.SoftSkills.CompetencyDescriprion
                                                </td>
                                                <td>
                                                    @it.CompetencеLevel.Level
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }

        @*если нет навыков*@
        if (ViewBag.HardSkills.Count == 0 && ViewBag.SoftSkills.Count == 0)
        {
            <section id="softSkills">
                <h5>Навыки</h5>
                <p>На данный момент пользователь не добавил профессиональные навыки и личностные качества</p>
            </section>
        }
    }

    @{
        @*Наставники*@
        <p><a name="mentors"></a></p>
        if (ViewBag.Mentors.Count > 0)
        {
            <section id="Mentors">
                <h5>Наставники</h5>
                <div class="accordion accordion-flush" id="Mentors-accordionFlushExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Mentors-flush-heading_count">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Mentors-flush-collapse_count" aria-expanded="false" aria-controls="flush-collapse_count">
                                Наставники
                            </button>
                        </h2>
                        <div id="Mentors-flush-collapse_count" class="accordion-collapse collapse" aria-labelledby="flush-heading_count" data-bs-parent="#Mentors-accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Фамилия</th>
                                            <th>Имя</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var it in ViewBag.Mentors)
                                        {
                                            <tr>
                                                <td>@it.Surname</td>
                                                <td>@it.Name</td>
                                                <td>@it.Email</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <section id="Mentors">
                <h5>Наставники</h5>
                <p>На данный момент пользователь у пользователя нет подтвержденных наставников</p>
            </section>
        }
    }

    @{
        @*Подопечные*@
        <p><a name="trainee"></a></p>
        if (ViewBag.Trainee.Count > 0)
        {
            <section id="Trainee">
                <h5>Подопечные</h5>
                <div class="accordion accordion-flush" id="Trainee-accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Trainee-flush-heading_count">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Trainee-flush-collapse_count" aria-expanded="false" aria-controls="flush-collapse_count">
                                Подопечные
                            </button>
                        </h2>
                        <div id="Trainee-flush-collapse_count" class="accordion-collapse collapse" aria-labelledby="flush-heading_count" data-bs-parent="#Trainee-accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Фамилия</th>
                                            <th>Имя</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var it in ViewBag.Trainee)
                                        {
                                            <tr>
                                                <td>@it.Surname</td>
                                                <td>@it.Name</td>
                                                <td>@it.Email</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <section id="Trainee">
                <h5>Подопечные</h5>
                <p>На данный момент пользователь у пользователя нет подтвержденных подопечных</p>
            </section>
        }
    }

    @{
        @*Планы*@
        <p><a name="plans"></a></p>
        if (ViewBag.Plans.Count > 0)
        {
            <section id="plans">
                <h5>Планы</h5>
                <div class="accordion accordion-flush" id="plan-accordionFlushExample">
                    @{
                        var count = 0;
                    }
                    @foreach (var item in ViewBag.Plans)
                    {
                        count = count + 1;

                        if (item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Objective.Length > 0)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="plan-flush-heading_@count">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#plan-flush-collapse_@count" aria-expanded="false" aria-controls="flush-collapse_@count">
                                        @item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Objective
                                    </button>
                                </h2>
                                <div id="plan-flush-collapse_@count" class="accordion-collapse collapse" aria-labelledby="flush-heading_@count" data-bs-parent="#plan-accordionFlushExample">
                                    <div class="accordion-body">
                                        <p><strong>Квартал: </strong> @item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Quarter</p>
                                        <p><strong>Цель: </strong> @item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Objective</p>
                                        <p><strong>Критерии достижения: </strong> @item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.AchievementCriteria</p>
                                        <p><strong>Пользва для сотрудника: </strong> @item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.BenefitsForEmployee</p>
                                        <p><strong>Польза для компании: </strong> @item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.BenefitsForCompany</p>
                                        <p><strong>Обсуждения: </strong> @item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.Discuss</p>
                                        <p><strong>Дата обсуждения: </strong> @item.quarterlyDevelopmentPlanList.QuarterlyDevelopmentPlan.DiscussDate</p>

                                        @if (item.planPartsList.Count > 0)
                                        {
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>

                                                                </th>
                                                                <th>
                                                                    Подпланы
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td>Направление</td>
                                                                <td>Измеряемый результат</td>
                                                                <td>Deadline</td>
                                                                <td>Оценка в часах</td>
                                                                <td>Текущий прогресс</td>
                                                            </tr>
                                                            @{
                                                                int counter = 0;
                                                            }
                                                            @foreach (var it in item.planPartsList)
                                                            {
                                                                counter = counter + 1;
                                                                <tr>
                                                                    <td>@counter.</td>
                                                                    <td>@it.PlanParts.ActivityDirection</td>
                                                                    <td>@it.PlanParts.MeasurableResult</td>
                                                                    <td>@it.PlanParts.Deadline</td>
                                                                    <td>@it.PlanParts.RatingInHours</td>
                                                                    <td>@it.PlanParts.CurrentProgress</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        }
        else
        {
            <section id="plan">
                <h5>Планы</h5>
                <p>На данный момент пользователь не добавил информацию о планах</p>
            </section>
        }
    }


    @{
        @*Права доступа*@
        <p><a name="AccessUsers"></a></p>
        if (ViewBag.AccessUsers.Count > 0)
        {
            <section id="AccessUsers">
                <h5>Список пользователей с доступом к профилю</h5>
                <div class="accordion accordion-flush" id="AccessUsers-accordionFlushExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="AccessUsers-flush-heading_count">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#AccessUsers-flush-collapse_count" aria-expanded="false" aria-controls="flush-collapse_count">
                                Пользователи с доступом к профилю
                            </button>
                        </h2>
                        <div id="AccessUsers-flush-collapse_count" class="accordion-collapse collapse" aria-labelledby="flush-heading_count" data-bs-parent="#AccessUsers-accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Фамилия</th>
                                            <th>Имя</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var it in ViewBag.AccessUsers)
                                        {
                                            <tr>
                                                <td>@it.Surname</td>
                                                <td>@it.Name</td>
                                                <td>@it.Email</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <section id="AccessUsers">
                <h5>Список пользователей с доступом к профилю</h5>
                <p>На данный момент профиль пользователья может просматривать только  владелец</p>
            </section>
        }
    }

    @{
        @*История измненений*@
        <p><a name="history"></a></p>
        <h5>История изменений профиля</h5>
        if (ViewBag.Story.Count > 0)
        {
            <section id="Story">
                <div class="accordion accordion-flush" id="Story-accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Story-flush-heading_count">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Story-flush-collapse_count" aria-expanded="false" aria-controls="flush-collapse_count">
                                Изменения информации в карточке
                            </button>
                        </h2>
                        <div id="Story-flush-collapse_count" class="accordion-collapse collapse" aria-labelledby="flush-heading_count" data-bs-parent="#Story-accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Действие</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var it in ViewBag.Story)
                                        {
                                            <tr>
                                                <td>@it.Date</td>
                                                <td>@it.Description</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <section id="Story">
                <p>Пользователь не вносил изменения в профиль</p>
            </section>
        }
    }
</div>