﻿@using static InformationSystem.Controllers.SearchController;
@model SearchViewModel

@{
    ViewData["Title"] = "Поиск сотрудника";
}

<link href="~/multiselect/example-styles.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @*Фильтры*@
        <div class="col-3">
            <h2>Фильтры</h2>
            <form asp-controller="Search" asp-action="Index">
                <div class="form-group">
                    <label class="control-label">Фамилия: </label>
                    <input class="form-control" name="SearchFamily" value="@ViewBag.SearchFamily" />
                </div>

                <div class="form-group">
                    <label class="control-label">Имя: </label>
                    <input class="form-control" name="SearchName" value="@ViewBag.SearchName" />
                </div>

                <div class="form-group">
                    <label class="control-label">Email: </label>
                    <input class="form-control" type="text" name="SearchEmail" value="@ViewBag.SearchEmail" />
                </div>

                <div class="form-group">
                    <label class="control-label">Курсы: </label>
                    <select id="dropDownList-course" name="SearchCourseId"
                            asp-items="@ViewBag.Courses" multiple class="form-control"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">Проекты: </label>
                    <select id="dropDownList-project" name="SearchProjectId"
                            asp-items="@ViewBag.Projects" multiple class="form-control"></select>
                </div>

                <div class="form-group" id="SoftList">
                    <label class="control-label">Soft Навыки</label>
                    <select name="SearchSoftId" asp-items="@ViewBag.SoftSkills" style="margin: 0.5rem 0.5rem;">
                        <option value="">--выберите качество--</option>
                    </select>
                    <select name="SearchSoftLevel" asp-items="@ViewBag.SoftLevels" style="width: 80px;">
                        <option value="">--уровень--</option>
                    </select>
                    <button id="SoftButton" class="btn btn-sm btn-secondary">Добавить</button>
                </div>

                <div class="form-group">
                    <label class="control-label">Hard Навыки</label><div></div>
                    <select name="SearchHardId" asp-items="@ViewBag.HardSkills" style="margin: 0.5rem 0.5rem;">
                        <option value="">--выберите навык--&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    </select>
                    <select name="SearchHardLevel" asp-items="@ViewBag.HardLevels" style="width: 80px;">
                        <option value="">--уровень--</option>
                    </select>
                    <button id="HardButton" class="btn btn-sm btn-secondary">Добавить</button>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" style="margin: 5px;" class="btn btn-primary justify-content-center">Поиск</button>
                </div>
            </form>
        </div>
        @*Список пользователей*@
        <div class="col-9">
            <h2>Список сотрудников</h2>
            @if (ViewBag.AllUsers.Count > 0)
            {
                <table class="table">
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Email</th>
                    </tr>
                    @{
                        foreach (var item in Model.AllUsers)
                        {
                            <tr>
                                <td style="width: 15%;">@item.Surname</td>
                                <td style="width: 15%;">@item.Name</td>
                                <td style="width: 15%;">@item.Email</td>
                                <td style="width: 20%;">
                                    @if (item.showMentorButton == true)
                                    {
                                        <a style="width: 100%;" class="btn btn-sm btn-primary" asp-controller="Mentors" asp-action="AddMentor" asp-route-email="@item.Email" asp-route-search="@true">Добавить наставника</a>
                                    }
                                    else
                                    {
                                        <a style="width: 100%;" class="btn btn-sm btn-danger" asp-controller="Mentors" asp-action="RemoveMentor" asp-route-email="@item.Email" asp-route-search="@true">Удалить наставника</a>
                                    }

                                </td>
                                <td style="width: 20%;">
                                    @if (item.showTraineeButton == true)
                                    {
                                        <a style="width: 100%;" class="btn btn-sm btn-primary" asp-controller="Mentors" asp-action="AddTrainee" asp-route-email="@item.Email" asp-route-search="@true">Добавить подопечного</a>
                                    }
                                    else
                                    {
                                        <a style="width: 100%;" class="btn btn-sm btn-danger" asp-controller="Mentors" asp-action="RemoveTrainee" asp-route-email="@item.Email" asp-route-search="@true">Удалить подопечного</a>
                                    }
                                </td>
                                <td style="width: 10%;">
                                    @if (item.showProfileButton == true)
                                    {
                                        <a style="width: 100%;" class="btn btn-sm btn-primary" asp-controller="profile" asp-action="profileview" asp-route-email="@item.Email">Перейти</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                       class="btn btn-outline-dark">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Назад
                    </a>
                }
                @if (Model.PageViewModel.HasNextPage)
                {
                    <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                       class="btn btn-outline-dark">
                        Вперед
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
            }
            else
            {
                <div class="container">
                    <h4 style="text-align: center">Странно, но ничего нет</h4>
                    <h5 style="text-align: center">Попробуйте изменить критерии поиска</h5>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/multiselect/jquery.multi-select.js"></script>
    <script>
        $(document).ready(function () {
            $('#dropDownList-course').multiSelect();
        });

        $(document).ready(function () {
            $('#dropDownList-project').multiSelect();
        });
    </script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#SoftButton").click(function (e) {
            e.preventDefault();
            var rowCount = $('[name="SearchSoftId"]').length;
            $('[name="SearchSoftLevel"]').last().after($('select[name="SearchSoftId"]').last().clone());
            $('[name="SearchSoftId"]').last().after($('select[name="SearchSoftLevel"]').last().clone());
        });

        $("#HardButton").click(function (e) {
            e.preventDefault();
            var rowCount = $('[name="SearchHardId"]').length;
            $('[name="SearchHardLevel"]').last().after($('select[name="SearchHardId"]').last().clone());
            $('[name="SearchHardId"]').last().after($('select[name="SearchHardLevel"]').last().clone());
        });
    });
</script>

<style>
    .multi-select-button {
        min-width: 200px;
    }

.card-body{
        padding: 0.5rem 0.5rem;
}    
</style>

<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>