﻿@model InformationSystem.Data.Models.SkillsAndEducation.SoftSkillsList

@{
    ViewData["Title"] = "CreateSoft";
    Layout = "~/Views/Shared/skillsLayout.cshtml";
}

<h1>Добавить личностное качество</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateSoft">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="EmployeeId" class="form-control" type="hidden" value="kjhghj" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoftSkillsId" class="control-label"></label>
                <select asp-for="SoftSkillsId" class="form-control" asp-items="ViewBag.SoftSkillsId"></select>
            </div>
            <div class="col-md-15"><a asp-action="CreateSoftSkill">Создать личностное качество</a></div>
            <div class="form-group">
                <label asp-for="CompetenceLevelId" class="control-label"></label>
                <select asp-for="CompetenceLevelId" class="form-control" asp-items="ViewBag.CompetenceLevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DesireToDevelop" class="control-label"></label>
                <input asp-for="DesireToDevelop" class="form-control" />
                <span asp-validation-for="DesireToDevelop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SoftSkills">Назад</a>
</div>