﻿@model InformationSystem.Data.Models.SkillsAndEducation.SoftSkills

@{
    ViewData["Title"] = "CreateSoftSkill";
    Layout = "~/Views/Shared/skillsLayout.cshtml";
}

<h1>Создать личностное качество</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateSoftSkill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetencyName" class="control-label"></label>
                <input asp-for="CompetencyName" class="form-control" />
                <span asp-validation-for="CompetencyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetencyDescriprion" class="control-label"></label>
                <input asp-for="CompetencyDescriprion" class="form-control" />
                <span asp-validation-for="CompetencyDescriprion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CreateSoft">Назад</a>
</div>

