﻿@model InformationSystem.Data.Models.SkillsAndEducation.HardSkillsList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>HardSkillsList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditHard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HardSkillListId" />
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="HardSkillsId" class="control-label"></label>
                <select asp-for="HardSkillsId" class="form-control" asp-items="ViewBag.HardSkillsId"></select>
                <span asp-validation-for="HardSkillsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenceLevelId" class="control-label"></label>
                <select asp-for="CompetenceLevelId" class="form-control" asp-items="ViewBag.CompetenceLevelId"></select>
                <span asp-validation-for="CompetenceLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttitudeToCompetence" class="control-label"></label>
                <input asp-for="AttitudeToCompetence" class="form-control" />
                <span asp-validation-for="AttitudeToCompetence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesireToDevelop" class="control-label"></label>
                <input asp-for="DesireToDevelop" class="form-control" />
                <span asp-validation-for="DesireToDevelop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="HardSkills">Назад</a>
</div>

