﻿@model IEnumerable<InformationSystem.Data.Models.SkillsAndEducation.HardSkillsList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/skillsLayout.cshtml";
}

<h1>Профессиональные навыки</h1>

<p>
    <a asp-action="Create">Добавить навык</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Категирия навыка
            </th>
            <th>
                Навык
            </th>
            <th>
                Описание
            </th>
            <th>
                Уровень компетенции
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.hardSkill.CompetencyCategories.CompetencyCategory)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hardSkill.CompetencyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hardSkill.CompetencyDescription)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CompetencеLevel.Level)
            </td>
            <td>
                <a asp-action="EditHard" asp-route-id="@item.HardSkillsId">Редактировать</a> |
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.HardSkillListId">
                    Удалить
                </a>
            </td>
        </tr>

            <!-- Модальное окно -->
            <div class="modal fade" id="exampleModal_@item.HardSkillListId" tabindex="-1" aria-labelledby="exampleModalLabel_@item.HardSkillListId" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel_@item.HardSkillListId">Подтверждение дейстия</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            @if (item.hardSkill != null)
                            {
                                <p>Подтвердите удаление профессионального навыка "@item.hardSkill.CompetencyName"</p>
                            }

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a type="button" class="btn btn-danger"
                           asp-action="DeleteHard" asp-route-id="@item.HardSkillListId">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>

}
    </tbody>
</table>
