﻿@model IEnumerable<InformationSystem.Data.Models.SkillsAndEducation.SoftSkillsList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/skillsLayout.cshtml";
}

<h1>Личностные качества</h1>

<p>
    <a asp-action="CreateSoft">Добавить личностное качество</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Навык
            </th>
            <th>
                Описание
            </th>
            <th>
                Уровень компетенции
            </th>
            <th>
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SoftSkills.CompetencyName)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SoftSkills.CompetencyDescriprion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CompetencеLevel.Level)

            </td>
            <td>
                    <a asp-action="EditSoft" asp-route-id="@item.SoftSkillsListId">Редактировать</a> |
                    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.SoftSkillsListId">
                        Удалить
                    </a>
            </td>
        </tr>

            <!-- Модальное окно -->
            <div class="modal fade" id="exampleModal_@item.SoftSkillsListId" tabindex="-1" aria-labelledby="exampleModalLabel_@item.SoftSkillsListId" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel_@item.SoftSkillsListId">Подтверждение дейстия</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            @if (item.SoftSkills != null)
                            {
                                <p>Подтвердите удаление профессионального навыка "@item.SoftSkills.CompetencyName"</p>
                            }

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a type="button" class="btn btn-danger"
                                asp-action="DeleteSoft" asp-route-id="@item.SoftSkillsListId">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
}
    </tbody>
</table>
